<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="screen, projection" />

    <title>And She Said, "Let Them Eat Burgers!"</title>
    {{!-- scripts --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/index.js"></script>
</head>

<body>
    <nav>

    </nav>


    {{{ body }}}

    {{!-- <footer class="page-footer green darken-3"></footer> --}}



</body>

</html>